<span class="sr-only">{{ site.data.strings.navigation | default:"Navigation" }}{{ site.data.strings.colon | default:":" }}</span>
<ul>
  {% if site.menu %}
    {% for node in site.menu %}
      {% assign url = node.url | default: node.href %}
      <li>
        <a
          {% if forloop.first %}id="_navigation"{% endif %}
          href="{% include smart-url.txt url=url %}"
          class="sidebar-nav-item{% if page.url contains url %} active{% endif %}"
          {% if node.rel %}rel="{{ node.rel }}"{% endif %}
        >
          {{ node.name | default:node.title }}
        </a>
      </li>
    {% endfor %}
  {% endif %}
</ul>
